@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html{
    background-image: linear-gradient(to bottom,#D05D9F,#AD445E,#d05d9e);
}

header{
    background-color: black;
    color: white;
}
header > h1{
    pad: 10px;
    text-align: center;
}
i#burger{
    background-color: #7e2f43;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burger:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #70435d;
    color: white;
    border-top: 2px solid gray
}
menu > ul > li > a:hover{
    background-color: #d05d9e79;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-x: hidden;
}
article > div{
    width:90vw;
    height: 50vh;
    background-image: url(https://static01.nyt.com/images/2024/02/13/business/00roose-year/00roose-year-jumbo.jpg?quality=75&auto=webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 30px;
    margin-top: 30px;
    position:static;
}

article > h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    text-align: center;
    text-decoration:dotted;
    height: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right,#AD445E,#d05d9e7e,#d05d9e00);
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}

 